.main {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-mono);
}

.header {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  position: relative;
  z-index: 1;
}

.shoppingBag {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
  background-color: #ff8e57;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}

.shoppingBagBounce {
  position: absolute;
  animation: bounce 0.4s linear;
  transform-origin: center;
}

.bagCount {
  color: white;
}

.centerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 224px);
  grid-gap: 10px;
  justify-content: center;
  width: 100%;
  padding: 60px 20px 20px;
  box-sizing: border-box;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 340px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border-color 0.1s linear;
}

.gridItem:hover {
  border-color: #ff8e57;
}

.itemImage {
  width: 222px;
  height: 222px;
  object-fit: cover;
}

.itemName {
  margin-top: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.itemPrice {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: #ff8e57;
}

.popup {
  position: absolute;
  width: 300px;
  min-height: 190px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 2px solid #ff8e57;
  border-radius: 10px;
  right: 10px;
  top: 50px;
}

.popupEmpty {
  width: 100%;
  margin-top: 55px;
  height: auto;
  text-align: center;
  font-size: 18px;
  color: #ccc;
}

.popupHeader {
  margin-bottom: 10px;
  background-color: #ff8e57;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  height: 30px;
  padding-top: 3px;
}

.bundle {
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ff8e57;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.bundleDrinks {
  flex-direction: row;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

.bundle p {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.popupDiscount {
  color: #ff8e57;
  font-weight: 600;
  font-size: 10px;
}

.total {
  position: sticky;
  bottom: 0;
  background-color: #ff8e57;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.drink {
  width: 45px;
  height: 45px;
}

.drink img {
  width: 45px;
  height: 45px;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff8e57;
  color: white;
  width: 20px;
  height: 20px;
  padding-top: 3px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .gridContainer {
    grid-template-columns: repeat(4, 224px);
  }
}

@media (max-width: 980px) {
  .gridContainer {
    grid-template-columns: repeat(3, 224px);
  }
}

@media (max-width: 720px) {
  .gridContainer {
    grid-template-columns: repeat(2, 224px);
  }
}